@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./utilities/colors.css";

body {
  background-color: var(--white);
  font-family: 'Playfair Display', serif !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--white);
  z-index: 10;
  user-select: none;
  padding: 0 1vw;
  transition: box-shadow 0.3s ease;
}

header.scrolled nav {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
  padding: 0rem 2rem;
  min-height: 100vh;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-logo img {
  height: 3rem;
  width: auto;
  object-fit: contain;
  margin-left: 4vw;
}

nav a.active {
  color: var(--dark-primary);
  border-bottom: solid 3px var(--dark-primary);  
  background-color: var(--neutral-lighter);
}

nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--neutral-dark);
  text-decoration: none;
  height: 100%;
  width: auto;
  font-size: 13px;
  font-weight: 600;
  border-bottom: solid 3px var(--white);
  box-sizing: border-box;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  text-transform: uppercase;
  padding: 0 1rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  gap: 1rem;
  margin-right: 1rem;
}

.container-title {
  color: var(--neutral-dark);
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin: 0 0 2.5rem 0;
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--stiletto);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: fit-content;
}

.content-header {
  color: var(--theme-primary);
}

main {
  flex: 1;
  min-height: 100vh;
  display: flex;
}

li {
  cursor: pointer;
  height: 100%;
  width: fit-content;
}

.About {
  background-color: var(--light-stiletto);
}

.Experience {
  background-color: var(--light-stiletto);
  min-height: 100vh;
}

.cursor {
  background-color: var(--white);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}
